body{
  min-height: 300px;
}

table{
  text-align: center;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}

tr{
  font-size: 4vw;
}

td{
  width: 50%;
  height: 30px;
}

.title{
  padding: 2% 4%;
}

tr:nth-child(even){
  background-color: #F2F2F2;
}
