<html>
    <head>
      <link rel="stylesheet" href="css/card.min.css">
      <link rel="stylesheet" href="css/genericCard.min.css">
      <link rel="stylesheet" href="css/app.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="https://cdn.kustomerapp.com/card-js/latest/kustomer-card.min.js"></script>
      <script src="js/accounting.js"></script>
      <script src="js/moment.js"></script>
      <script src="js/app.js"></script>
    </head>
    <body ng-app='ContextCard'>
        <div ng-controller='Index' ng-init='initializeOrders()' class="ui card mainCard">
            <div class="content">
                <div class="ui header cardHeader">
                    <p id='title'>Orders:</p>
                </div>
            </div>
            <hr class="lineBreak">
            <div id="container" class="ui one textArea">
              <section ng-if='!loaded_orders'>Loading Orders...</section>
              <section ng-if='loaded_orders && orderDetails === -1'>
                <table>
                  <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Total</th>
                  </tr>
                  <tr ng-repeat='order in orders' class='order'>
                    <td><a href="#" ng-click='showOrder($index)' >{{ order.attributes.data.orderTitle }}</a></td>
                    <td>{{ parseDate(order.attributes.createdAt)}}</a></td>
                    <td>{{ order.attributes.data.orderTotal }}</td>
                  </tr>
                </table>
              </section>
                <section ng-if='loaded_orders && orderDetails >= 0'>
                  <button ng-click='showOrder(-1)'>Back</button>
                  <p>{{ orders[orderDetails].attributes.data.orderTitle }}</p>
                  <table>
                    <tr>
                      <th>Item</th>
                      <th>Qty</th>
                      <th>Price</th>
                    </tr>
                  <tr ng-repeat='lineItem in orders[orderDetails].attributes.data.lineItems'>
                    <td>{{ lineItem.title }}</td>
                    <td>{{ lineItem.quantity }}</td>
                    <td>{{ multiplyMoney(lineItem.unitPrice, lineItem.quantity) }}</td>
                  </tr>
                </section>
            </div>
        </div>
    </body>
</html>
