<html>
    <head>
      <link rel="stylesheet" href="css/card.min.css">
      <link rel="stylesheet" href="css/genericCard.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="https://cdn.kustomerapp.com/card-js/latest/kustomer-card.min.js"></script>
      <script src="js/moment.js"></script>
      <script src="js/app.js"></script>
    </head>
    <body ng-app='ContextCard'>
        <div ng-controller='Index as table' ng-init='table.checkBasics()' class="ui card mainCard">
            <div class="content">
                <div class="ui header cardHeader">
                    Show Email
                </div>
            </div>
            <hr class="lineBreak">
            <div id="container" class="ui one textArea">
              <section ng-if='!table.loaded_orders'>Loading Orders...</section>
              <section ng-if='table.loaded_orders' ng-repeat='order in table.orders'>
                <i>Orders: </i>
                {{ $log(order) }}
                {{ order.data.orderTitle }}
              </section>
            </div>
        </div>
    </body>
</html>
